
$toolbarWidth: 90px;

$toolbar__buttonWidth: $toolbarWidth;
$toolbar__buttonHeight: $toolbarWidth;
$boxShadow: 0px 0px 49px -15px rgba(0,0,0,0.22);

$transitionAttr: all 2.1s ease-in;

$toolbar__buttonStroke: 3px;

body, html {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	color: #555;
}

.toolbar {
	top: 0;
	left: 0;
	position: absolute;
	width: $toolbarWidth;
	height: 100vh;
	box-shadow: $boxShadow;
	z-index: 2;
}

#gameWindow {
	top: 0;
	left: $toolbarWidth;
	position: absolute;
	width: $toolbarWidth;
	height: 100vh;
	width: calc(100vw - #{$toolbarWidth});
	z-index: 1;
}

#gamePackageContainers {
	top: 0;
	right: 0;
	position: absolute;
	width: 300px;
	height: 100vh;
	z-index: 2;
	box-shadow: $boxShadow;
	overflow: auto;
}

.gameObjectChildren h4 {
	background-color: #444;
	color: #fff;
}

.toolbar__button {
	position: relative;
	width: $toolbar__buttonWidth;
	height: $toolbar__buttonHeight;
	transition: $transitionAttr;
	box-sizing: content-box;

	svg {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&:hover {
	}

	&:active {
	}

	svg {
		transition: $transitionAttr;
	}

	&.compile {
		&.isCompiling {
			svg {
				animation: rotating 2s linear infinite;
			}
		}
	}
}

@keyframes rotating {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.disableUserSelect {
	user-select: none;
	-webkit-user-select: none;
}