$baseColor: #008080;

$toolbarWidth: 90px;

$toolbar__buttonWidth: $toolbarWidth;
$toolbar__buttonHeight: $toolbarWidth;
$boxShadow: 9px 0px 49px -15px rgba(0,0,0,0.22);

$transitionAttr: all 0.1s ease-in;

// darken($color, $amount)
// lighten($color, $amount)
// desaturate($color, $amount)

$toolbar__buttonStroke: 3px;

body, html {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: darken($baseColor, 20);
}

.toolbar {
	top: 0;
	left: 0;
	position: absolute;
	background-color: darken($baseColor, 19);
	width: $toolbarWidth;
	height: 100vh;
	box-shadow: $boxShadow;
	z-index: 2;
}

#gameWindow {
	top: 0;
	left: $toolbarWidth;
	position: absolute;
	background-color: darken($baseColor, 20);
	width: $toolbarWidth;
	height: 100vh;
	width: calc(100vw - #{$toolbarWidth});
	z-index: 1;
}

.toolbar__button {
	width: $toolbar__buttonWidth;
	height: $toolbar__buttonHeight;
	background-color: darken($baseColor, 18);
	border-bottom: $toolbar__buttonStroke solid darken($baseColor, 20);
	transition: $transitionAttr;
	box-sizing: content-box;
}

.toolbar__button:hover {
	background-color: darken($baseColor, 17.5);
}

.toolbar__button:active {
	background-color: darken($baseColor, 18.5);
}